@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans&display=swap');


body {
    background: url('background.png');
    background-position:center;
    background-size:cover;
    margin:0px;
    width:100vw;
    height:100vh;
}

#logo {
    position:absolute;
    left:50%;
    top:10px;
    transform:translateX(-50%);
    height:50px;
    width:auto;
}

h, p {
    color:white;
}

h {
    font-family:'Libre Baskerville', serif;
    font-size:45px;
    font-weight:bold;
}

p {
    font-family: 'Libre Franklin', sans-serif;
    font-size:22px;
}

p > a {
    font-weight:bold;
    text-decoration: solid white underline;
}

b {
    font-weight:medium;
}

#message {
    position:absolute;
    left:50%;
    top:50%;
    transform:translateX(-50%) translateY(-50%);
    text-align:-webkit-center;

}

#message > h > div {
    width:30%;
    height:3px;
    background-color: white;
    margin-top:8px;
    margin-bottom:35px;
}